<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/user_profile/myprofileusersettings.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/general.css">
  <link rel="stylesheet" href="/css/user_profile/profilepagemenu.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Secular+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <title>One Piece Realm</title>
</head>
<body>
  <main>
    <section id="profilePage">
      <span class="material-symbols-outlined" id="settings">
        settings
        </span>
      <div id="display-name">
        <h2><%=user.userName%>'s Profile</h2>
      </div>
      <div id="profile-page-menu">
        <div id="profile-picture-container">
          <img id="profile-picture" src="<%=user.profilePicture%>" alt="Picture">
          <div id="change-profile-picture-overlay">
            Edit
          </div>
          <form action="/myprofile/changeprofilepicture/<%=user.userID%>/upload/image?_method=PUT" 
            method="POST" enctype="multipart/form-data" id="profilePictureUploadForm" class="hidden">
          <input type="file" name="file" accept="image/*">
          <button type="submit">Submit</button>
          </form>
        </div>
        <div class="menu" id="myprofile-menu"><a href="/myprofile">My Profile</a></div>
        <div class="menu" id="change-username" style="background:rgba(255, 255, 255, 0.2);"><a href="/myprofile/changeusername">Change Username</a></div>
        <div class="menu" id="change-email"><a href="/myprofile/changeemail">Change Email</a></div>
        <div class="menu" id="change-password"><a href="/myprofile/changepassword">Change Password</a></div>
      </div>
      <div id="my-profile-contents">
        <div id="my-profile">
          <div class="change-user-settings">
            <p class="setting-title">Current Username: <%=user.userName%></p>
            <p class="setting-description">Here you'll be able to change your username.</p>
            <form action="/myprofile/username?_method=PUT" method="POST" id="userNameForm" class="setting-form">
              <label class="setting-label" for="userName">Username: </label>
              <input type="text" name="userName" id="userNameInput" class="setting-input">
              <button type="submit">Change</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
  <div id="pullover-menu" class="hidden">
    <div class="side-menu"><a href="/myprofile">My Profile</a></div>
    <div class="side-menu" style="background:rgba(255, 255, 255, 0.2);"><a href="/myprofile/changeusername">Change Username</a></div>
    <div class="side-menu"><a href="/myprofile/changeemail">Change Email</a></div>
    <div class="side-menu"><a href="/myprofile/changepassword">Change Password</a></div>
  </div>
  <header id="header">
    <section id="leftSection">
      <div id="grand-title">
        <a href="/"></a>
        <div id="left-navigation-dropdown"><span>&#9679</span></div>
          <div id="left-navigation-menu" class="hidden">
            <div id="learn-more-container">
              <a href="https://onepiece.fandom.com/wiki/One_Piece_Wiki">
                Learn More
              </a>
            </div>
            <div id="manga-container">
              <a href="https://www.viz.com/shonenjump/chapters/one-piece">
                Manga
              </a>
            </div>
            <div id="watch-container">
              <a href="https://beta.crunchyroll.com/series/GRMG8ZQZR/one-piece">
                Watch
              </a>
            </div>
            <div id="search-container">
              <a href="/home/searchcards">
                Search
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="left-navigation">
        <div id="learn-more-container">
          <a href="https://onepiece.fandom.com/wiki/One_Piece_Wiki">
            Learn More
          </a>
        </div>
        <div id="manga-container">
          <a href="https://www.viz.com/shonenjump/chapters/one-piece">
            Manga
          </a>
        </div>
        <div id="watch-container">
          <a href="https://beta.crunchyroll.com/series/GRMG8ZQZR/one-piece">
            Watch
          </a>
        </div>
        <div id="search-container">
          <a href="/home/searchcards">
            Search
          </a>
        </div>
      </div>
    </section>
    <section id="rightSection">
      <button id="createChar">
        <a href="/myprofile">Create</a>
        <div class="tooltip">Create a card</div>
      </button>
      <%if(typeof user === 'undefined'){%>
        <a href="/page/signin"><button class="signInBtn">Sign In</button></a>
      <%}%>
      <%if(typeof user !== 'undefined'){%>
        <div id="profilePictureContainer">
          <div id="something-new" class="hidden">!</div>
          <img id="profilePicture" src="<%=user.profilePicture%>" alt="Profile">
          <div id="profileMenu" class="">
            <div id="currentUser">
              <img id="profilePictureInMenu" src="<%=user.profilePicture%>" alt="Profile">
              <span><%=user.userName%></span>
            </div>
            <div id="actualMenu">
              <div id="myProfile">
                <a href="/myprofile">My Profile</a>
              </div>
              <div id="helpContainer">
                <a id="help" href="/home/help">Help</a>
              </div>
              <div id="inboxContainer">Inbox
                <div id="inbox-notification"></div>
              </div>
              <div id="inbox" class="hidden">
              </div>
            </div>
            <div id="signOutSection">
              <a href="/signout"><button class="signOut">Sign Out</button></a>
            </div>
          </div>
        </div>
      <%}%>
    </section>
  </header>
  <div id="overlay" class="hidden"></div>
  <div class="dontmindme hidden"></div>
  <script src="/js/main.js"></script>
  <script src="/js/header.js"></script>
  <script src="/js/myprofilepage.js"></script>
  <script src="/js/pofilepage_settings.js"></script>
</body>
</html>