<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/user_profile/myprofileusersettings.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/general.css">
  <link rel="stylesheet" href="/css/user_profile/profilepagemenu.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Secular+One&display=swap" rel="stylesheet">
  <title>One Piece Realm</title>
</head>
<body>
  <main>
    <section id="profilePage">
      <div id="display-name">
        <h2><%=user.userName%>'s Profile</h2>
      </div>
      <div id="profile-page-menu">
        <div id="profile-picture-container">
          <img id="profile-picture" src="<%=user.profilePicture%>" alt="Picture">
          <div id="change-profile-picture-overlay">
            Edit
          </div>
          <form action="/myprofile/changeprofilepicture/<%=user.userID%>/upload/image?_method=PUT" 
            method="POST" enctype="multipart/form-data" id="profilePictureUploadForm" class="hidden">
          <input type="file" name="file" accept="image/*">
          <button type="submit">Submit</button>
          </form>
        </div>
        <div class="menu" id="myprofile-menu"><a href="/myprofile">My Profile</a></div>
        <div class="menu" id="change-username" style="background:rgba(255, 255, 255, 0.2);"><a href="/myprofile/changeusername">Change Username</a></div>
        <div class="menu" id="change-email"><a href="/myprofile/changeemail">Change Email</a></div>
        <div class="menu" id="change-password"><a href="/myprofile/changepassword">Change Password</a></div>
      </div>
      <div id="my-profile-contents">
        <div id="my-profile">
          <div class="change-user-settings">
            <p class="setting-title">Current Username: <%=user.userName%></p>
            <p class="setting-description">Here you'll be able to change your username.</p>
            <form action="/myprofile/username?_method=PUT" method="POST" id="userNameForm" class="setting-form">
              <label class="setting-label" for="userName">Username: </label>
              <input type="text" name="userName" id="userNameInput" class="setting-input">
              <button type="submit">Change</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
    <%-include('./partials/header.ejs')%>
</body>
</html>