<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/general.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="/css/home_page/homepage_charactercard.css">
  <link rel="stylesheet" href="/css/home_page/featured_cards.css">
  <link rel="stylesheet" href="/css/home_page/recently_created_cards.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Secular+One&display=swap" rel="stylesheet">
  <script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
  <title>One Piece Universe</title>
</head>
<body>
  <main>
    <div id="featured-cards-section">
      <%for(let i = 0; i < 5; i++){%>
        <div class="featured-cards" id="featured-card<%=i%>-background">
            <div class="featured-card" id="<%=featured[i].id%>">
              <div class="featured-card-name">
                <span><%=featured[i].charName%></span>
              </div>
              <div class="featured-card-img">
                <img class="featuredCardImg" src=<%=featured[i].imgURL%>>
              </div>
              <div class="featured-card-haki">
                <span><%=featured[i].charhaki.hakiUsageLevel%></span>
              </div>
              <div class="featured-card-info">
                <div class="featuredCardRank">
                  <span>Rank:</span><span><%=featured[i].charRank%></span>
                </div>
                <div class="featured-card-age">
                  <span><%=featured[i].charAge%> years old</span>
                </div>
                <div class="featured-card-fruitname">
                  <img class="fruitImg" src="images/fruit.webp"><span><%=featured[i].charFruit.fruitName%></span>
                </div>
                <div class="featured-card-fruittype">
                  <span class="typeSpan">Type:</span><span><%=featured[i].charFruit.fruitType%></span>
                </div>
                <div class="featured-card-bounty">
                  <img class="bounty" src="images/Beli.webp"><span><%=featured[i].description[0].bounty.bountyAmount%></span>
                </div>
                <div class="seeMore">
                  <span class="characterInfo">See more</span>
                </div>
              </div>
            <div class="madeBy">
              <a href="/home/userprofile/<%=featured[i].userID%>" class="cardCreator"><%=featured[i].userName%></a>
            </div>
          </div>
        </div>
      <%}%>
      </div>
      <nav id="featured-navigation">
        <a id="first-slide">o</a>
        <a id="second-slide">o</a>
        <a id="third-slide">o</a>
        <a id="fourth-slide">o</a>
        <a id="fifth-slide">o</a>
      </nav>
      <button id="scroll-left">&#8592;</button>
      <button id="scroll-right">&#8594;</button>
  <section id="homePage">
    <section id="recently-created">
      <div class="section-title">
        <h1>Recently Created</h1>
      </div>
      <section id="recently-created-section">
        <%for(let i = 0; i < 10; i++){%>
            <div class="characterCard" id="<%=recent[i].id%>">
              <div class="cardName">
                <span><%=recent[i].charName%></span>
              </div>
              <div class="cardCharImg">
                <img class="cardImg" src=<%=recent[i].imgURL%>>
              </div>
              <div class="cardHaki">
                <span><%=recent[i].charhaki.hakiUsageLevel%></span>
              </div>
              <div class="cardInfo">
                <div class="cardRank">
                  <span>Rank:</span><span><%=recent[i].charRank%></span>
                </div>
                <div class="cardAge">
                  <span><%=recent[i].charAge%> years old</span>
                </div>
                <div class="cardFruitName">
                  <img class="fruitImg" src="images/fruit.webp"><span><%=recent[i].charFruit.fruitName%></span>
                </div>
                <div class="cardFruitType">
                  <span class="typeSpan">Type:</span><span><%=recent[i].charFruit.fruitType%></span>
                </div>
                <div class="cardBounty">
                  <img class="bounty" src="images/Beli.webp"><span><%=recent[i].description[0].bounty.bountyAmount%></span>
                </div>
                <div class="seeMore">
                  <span class="characterInfo">See more</span>
                </div>
            </div>
            <div class="madeBy">
              <a href="/home/userprofile/<%=recent[i].userID%>" class="cardCreator"><%=recent[i].userName%></a>
            </div>
          </div>
        <%}%>
      </section>
      <div id="hide-scroll-bar"></div>
    </section>
    <section id="all-cards">
      <div class="section-title">
        <h1>All</h1>
      </div>
      <section class="cardSection">
        <%for(let i = 0; i < info.length; i++){%>
            <div class="characterCard" id="<%=info[i].id%>">
              <div class="cardName">
                <span><%=info[i].charName%></span>
              </div>
              <div class="cardCharImg">
                <img class="cardImg" src=<%=info[i].imgURL%>>
              </div>
              <div class="cardHaki">
                <span><%=info[i].charhaki.hakiUsageLevel%></span>
              </div>
              <div class="cardInfo">
                <div class="cardRank">
                  <span>Rank:</span><span><%=info[i].charRank%></span>
                </div>
                <div class="cardAge">
                  <span><%=info[i].charAge%> years old</span>
                </div>
                <div class="cardFruitName">
                  <img class="fruitImg" src="images/fruit.webp"><span><%=info[i].charFruit.fruitName%></span>
                </div>
                <div class="cardFruitType">
                  <span class="typeSpan">Type:</span><span><%=info[i].charFruit.fruitType%></span>
                </div>
                <div class="cardBounty">
                  <img class="bounty" src="images/Beli.webp"><span><%=info[i].description[0].bounty.bountyAmount%></span>
                </div>
                <div class="seeMore">
                  <span class="characterInfo">See more</span>
                </div>
            </div>
            <div class="madeBy">
              <a href="/home/userprofile/<%=info[i].userID%>" class="cardCreator"><%=info[i].userName%></a>
            </div>
          </div>
        <%}%>
      </section>
    </section>
  </section>
  </main>
  <%if(typeof user !== 'undefined'){%>
    <div class="hidden addCharacter">
      <input type="text" placeholder="Character Name" id="charName" class="createChar">
      <input type="text" placeholder="Character Age" id="charAge" class="createChar">
      <input type="text" placeholder="Fruit Name" id="charFruit" class="createChar">
      <input type="text" placeholder="Fruit Type" id="charFruitType" class="createChar">
      <input type="text" placeholder="Haki Strength" id="charHaki" class="createChar">
      <input type="text" placeholder="Haki Type" id="charHakiType" class="createChar">
      <input type="text" placeholder="Current Rank" id="charRank" class="createChar">
      <input type="text" placeholder="Image URL" id="imgURL" class="createChar">
      <!-- <input type="file" placeholder= "Image" id="imgURL" class="createChar" accept="image/*"> -->
      <input type="text" placeholder="Bounty" id="bounty" class="createChar">
      <input type="text" placeholder="General location (e.g. Grand Line)" id="location" class="createChar">
      <input type="text" placeholder="Specific location (e.g. Zou)" id="specificLocation" class="createChar">
      <input type="text" placeholder="Number of abilities" id="numAbilities" class="createChar">
      <label for="isPirate">Pirate</label><input type="checkbox" id="isPirate" class="createChar">
      <label for="isMarine">Marine</label><input type="checkbox" id="isMarine" class="createChar">
      <button id="addCharBtn">Submit</button>
      <button class="closeIt">X</button>
    </div>
    <span id="userID" class="hidden"><%=user.userID%></span>
  <%}%>
  <%if(typeof user === 'undefined'){%>
    <a href="/page/signin" id="signInFirst"></a>
  <%}%>
  <div id="characterMoreInfo" class="hidden">
    <div id="characterSummary">
      <img id="bountyImg" src="" atl="Bounty" class="hidden"></img>
      <p id="charDesc"></p>
      <form action="" method="POST" id="like-card-form">
        <button type="submit" id="like-card-button">^</button>
        <span></span>
      </form>
      <button class="closeSeeMore">X</button>
    </div>
    <div id="characterAbilitiesDesc">
    </div>
    <section id="commentSection">
      <div id="commentsTitle">
        <span>Comments</span>
      </div>
      <%if(typeof user !== 'undefined'){%>
        <form action="/home/postcomment" method="POST" id="postCommentForm">
          <input type="text" name="comment" id="comment" placeholder="Comment...">
          <input type="text" name="cardID" id="cardID" class="hidden" value="">
          <button type="submit" id="postComment">Post</button>
        </form>
      <%}%>
      <div id="comments">
      </div>
    </section>
  </div>
  <header id="header">
    <section id="leftSection">
      <div id="grand-title">
        <a href="/">One Piece Realm</a>
      </div>
      <div id="left-navigation">
        <div id="learn-more-container">
          <a>
            Learn More
          </a>
        </div>
        <div id="manga-container">
          <a>
            Manga
          </a>
        </div>
        <div id="watch-container">
          <a>
            Watch
          </a>
        </div>
        <div id="search-container">
          <a href="/home/searchcards">
            Search
          </a>
        </div>
      </div>
    </section>
    <section id="rightSection">
      <button id="createChar">
        Create
        <div class="tooltip">Create a card</div>
      </button>
      <%if(typeof user === 'undefined'){%>
        <a href="/page/signin"><button class="signInBtn">Sign In</button></a>
      <%}%>
      <%if(typeof user !== 'undefined'){%>
        <div id="profilePictureContainer">
          <div id="something-new">!</div>
          <img id="profilePicture" src="<%=user.profilePicture%>" alt="Profile">
          <div class="tooltip">Profile</div>
          <div id="profileMenu" class="">
            <div id="currentUser">
              <img id="profilePictureInMenu" src="<%=user.profilePicture%>" alt="Profile">
              <span><%=user.userName%></span>
            </div>
            <div id="actualMenu">
              <div id="myProfile">
                <a href="/myprofile">My Profile</a>
              </div>
              <div id="helpContainer">
                <a id="help">Help</a>
              </div>
              <div id="inboxContainer">Inbox
                <div id="inbox-notification"></div>
              </div>
              <div id="inbox" class="hidden">
              </div>
            </div>
            <div id="signOutSection">
              <a href="/signout"><button class="signOut">Sign Out</button></a>
            </div>
          </div>
        </div>
      <%}%>
    </section>
  </header>
    <div id="overlay" class="hidden"></div>
    <div class="dontmindme hidden"></div>
  <script src="js/main.js"></script>
</body>
</html>