<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>One Piece Universe</title>
</head>
<body>
  <main>
  <h1>ONE PIECE UNIVERSE</h1>
    <section id="cardSection">
      <%for(let i = 0; i < info.length; i++){%>
        <div class="characterCard" id=<%=info[i].id%>>
          <img src=<%=info[i].imgURL%>>
          <div>
          <span><%=info[i].charName%></span>
          </div>
          <span><%=info[i].charAge%> years old</span>
          <div>
          <span><%=info[i].charhaki.hakiUsageLevel%></span>
          <span><%=info[i].charFruit.fruitName%></span>
          </div>
          <span class="characterInfo">See more</span>
          <button class="editCard" id=<%=info[i].id%>>Edit</button>
        </div>
      <%}%>
      <div class="hidden addCharacter">
        <input type="text" placeholder="Character Name" id="charName" class="createChar">
        <input type="text" placeholder="Character Age" id="charAge" class="createChar">
        <input type="text" placeholder="Fruit Name" id="charFruit" class="createChar">
        <input type="text" placeholder="Fruit Type" id="charFruitType" class="createChar">
        <input type="text" placeholder="Haki Strength/Type" id="charHaki" class="createChar">
        <input type="text" placeholder="Image URL" id="imgURL" class="createChar">
        <input type="text" placeholder="Bounty" id="bounty" class="createChar">
        <input type="text" placeholder="Location" id="location" class="createChar">
        <input type="text" placeholder="Number of abilities" id="numAbilities" class="createChar">
        <label for="isPirate">Pirate</label><input type="checkbox" id="isPirate" class="createChar">
        <label for="isMarine">Marine</label><input type="checkbox" id="isMarine" class="createChar">
        <button id="addCharBtn">Submit</button>
        <button class="closeIt">X</button>
      </div>
      <div class="updateCard hidden">
        <input type="text" id="charNameU" class="cardDisplayInfo" placeholder="Character Name">
        <input type="text" id="charAgeU" class="cardDisplayInfo" placeholder="Character Age">
        <input type="text" id="charFruitU" class="cardDisplayInfo" placeholder="Fruit Name">
        <input type="text" id="charHakiU" class="cardDisplayInfo" placeholder="Haki Strength/Type">
        <input type="text" id="imgURLU" class="cardDisplayInfo" placeholder="Image URL">
        <button id="updateCardBtn">Update</button>
        <button id="deleteCard">Remove</button>
        <button class="closeIt">X</button>
      </div>
    </section>
    <div id="characterMoreInfo">
      <div>
        <img id="bountyImg" src="" atl="Bounty"></img>
        <p id="charDesc"></p>
      </div>
      <button id="editSeeMoreButton">Edit</button>
    </div>
    <div class="updateSeeMore hidden">
      <div id="abilitySection">
        <input type="text" id="bountyImgURL" class="cardDisplayInfo" placeholder="Bounty Image URL">
        <input type="text" id="charDescription" class="cardDisplayInfo" placeholder="Character Description">
      </div>
      <button id="updateSeeMoreBtn">Update</button>
      <button class="closeIt">X</button>
    </div>
  </main>
  <nav id="navigation">
    <ul>
      <li>
        <button id="createChar">Add Character</button>
      </li>
      <li>Marine World</li>
      <li>Sign In</li>
    </ul>
  </nav>
  <script src="js/main.js"></script>
</body>
</html>