<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/user_profile/myprofilepage.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/forms.css">
  <link rel="stylesheet" href="/css/general.css">
  <link rel="stylesheet" href="/css/card_see_more.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/user_profile/myprofileusersettings.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Secular+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <title>One Piece Realm</title>
</head>
<body>
  <main>
    <section id="profilePage">
      <div id="display-name">
        <h2><%=users.userName%>'s Cards</h2>
      </div>
      <div id="profile-page-menu">
        <div id="profile-picture-container">
          <img id="profile-picture" src="<%=users.profilePicture%>" alt="Picture">
        </div>
      </div>
      <div id="my-profile-contents">
        <div id="my-profile">
            <div id="myCards">
              <%for(let i = 0; i < character.length; i++){%>
                <%if(character[i].userID == users.userID){%>
                  <div id="<%=character[i].id%>" class="characterCard">
                    <div class="cardName">
                      <span><%=character[i].charName%></span>
                    </div>
                    <div class="cardCharImg">
                      <img class="cardImg" src=<%=character[i].imgURL%>>
                    </div>
                    <div class="cardHaki">
                      <span><%=character[i].charhaki.hakiUsageLevel%></span>
                    </div>
                    <div class="cardInfo">
                      <div class="cardRank">
                        <span>Rank:</span><span><%=character[i].charRank%></span>
                      </div>
                      <div class="cardAge">
                        <span><%=character[i].charAge%> years old</span>
                      </div>
                      <div class="cardFruitName">
                        <img class="fruitImg" src="/images/fruit.webp"><span><%=character[i].charFruit.fruitName%></span>
                      </div>
                      <div class="cardFruitType">
                        <span class="typeSpan">Type:</span><span><%=character[i].charFruit.fruitType%></span>
                      </div>
                      <div class="cardBounty">
                        <img class="bounty" src="/images/Beli.webp"><span><%=character[i].description[0].bounty.bountyAmount%></span>
                      </div>
                      <div class="seeMore">
                        <span class="characterInfo">See more</span>
                      </div>
                    </div>
                  </div>
                <%}%>
              <%}%>
            </div> 
        </div>
      </div>
    </section>
  </main>
  <div id="characterMoreInfo" class="hidden">
    <div id="characterSummary">
      <img id="bountyImg" src="" atl="Bounty" class="hidden"></img>
      <p id="charDesc"></p>
      <button class="closeSeeMore">X</button>
    </div>
    <form action="" method="POST" id="like-card-form">
      <button type="submit" id="like-card-button"><span class="material-symbols-outlined">
        thumb_up
        </span></button>
      <span></span>
    </form>
    <div id="characterAbilitiesDesc">
    </div>
    <section id="commentSection">
      <div id="commentsTitle">
        <span></span>
      </div>
      <%if(typeof user !== 'undefined'){%>
        <section id="postCommentForm">
          <input type="text" id="comment" placeholder="Comment...">
          <button id="postComment">Post</button>
        </section>
      <%}%>
      <div id="comments">
      </div>
    </section>
  </div>
  <header id="header">
    <section id="leftSection">
      <div id="grand-title">
        <a href="/"></a>
        <div id="left-navigation-dropdown"><span>&#129171</span>
          <div id="left-navigation-menu" class="hidden">
            <div id="learn-more-container">
              <a href="https://onepiece.fandom.com/wiki/One_Piece_Wiki">
                Learn More
              </a>
            </div>
            <div id="manga-container">
              <a href="https://www.viz.com/shonenjump/chapters/one-piece">
                Manga
              </a>
            </div>
            <div id="watch-container">
              <a href="https://beta.crunchyroll.com/series/GRMG8ZQZR/one-piece">
                Watch
              </a>
            </div>
            <div id="search-container">
              <a href="/home/searchcards">
                Search
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="left-navigation">
        <div id="learn-more-container">
          <a href="https://onepiece.fandom.com/wiki/One_Piece_Wiki">
            Learn More
          </a>
        </div>
        <div id="manga-container">
          <a href="https://www.viz.com/shonenjump/chapters/one-piece">
            Manga
          </a>
        </div>
        <div id="watch-container">
          <a href="https://beta.crunchyroll.com/series/GRMG8ZQZR/one-piece">
            Watch
          </a>
        </div>
        <div id="search-container">
          <a href="/home/searchcards">
            Search
          </a>
        </div>
      </div>
    </section>
    <section id="rightSection">
      <button id="createChar">
        Create
        <div class="tooltip">Create a card</div>
      </button>
      <%if(typeof user === 'undefined'){%>
        <a href="/page/signin"><button class="signInBtn">Sign In</button></a>
      <%}%>
      <%if(typeof user !== 'undefined'){%>
        <div id="profilePictureContainer">
          <div id="something-new" class="hidden">!</div>
          <img id="profilePicture" src="<%=user.profilePicture%>" alt="Profile">
          <div id="profileMenu" class="">
            <div id="currentUser">
              <img id="profilePictureInMenu" src="<%=user.profilePicture%>" alt="Profile">
              <span><%=user.userName%></span>
            </div>
            <div id="actualMenu">
              <div id="myProfile">
                <a href="/myprofile">My Profile</a>
              </div>
              <div id="helpContainer">
                <a id="help" href="/home/help">Help</a>
              </div>
              <div id="inboxContainer">Inbox
                <div id="inbox-notification"></div>
              </div>
              <div id="inbox" class="hidden">
              </div>
            </div>
            <div id="signOutSection">
              <a href="/signout"><button class="signOut">Sign Out</button></a>
            </div>
          </div>
        </div>
      <%}%>
    </section>
  </header>
  <div id="overlay" class="hidden"></div>
  <div class="dontmindme hidden"></div>
  <script src="/js/main.js"></script>
  <script src="/js/header.js"></script>
  <script src="/js/card_see_more.js"></script>
</body>
</html>